<%= content_for(:page_header) do %>
  Nossa missão
<% end %>

<div class="bordered">

	<figure class="add-border">
		<%= image_tag(image_url('temp/full-width.jpg')) %>
	</figure>

</div><!--/ .bordered-->

<div class="eight columns">

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis aliquet augue, varius purus
		sollicitudin eget. Donec tellus nunc, sollicitudin eu congue tempor, dapibus et metus. Fusce ac
		ipsum at magna accumsan scelerisque sedon dolor. Mauris consectetur tortor elit laoreet feugiat.
		Maecenas facilisis dui ut mi mollis at fermentum lacus euismod. Donec in nibh sem sagittis molestie.
		Vivamus ultrices, urna vel vestibulum faucibus, nisl sapien semper ligula, ac vehicula urna justo
		quis elit. Nulla purus nunc, aliquet vel tincidunt quis, semper et ante. Fusce ultrices commodo dolor
		id fermentum. Vestibulum sem urna, mollis id vestibulum sed, viverra at est. Vestibulum pretium, leo
		et tincidunt ultrices, neque diam posuere orci, amet vulputate enim quam eu magna. Vestibulum ante
		ipsum primis faucibus orci luctus et ultrices posuere cubilia curae.
	</p>

</div><!--/ .eight .columns-->

<div class="eight columns">

	<p>
		Donec nibh sem sagittis molestie. Vivamus ultrices, urna vestibulum faucibus, nisl sapien semper ligula,
		ac vehicula urna justo quis elit. Nulla purus nunc, aliquet vel tincidunt quis, semper et ante. Fusce
		ultrices commodo dolor id fermentum. Vestibulum sem urna, mollis vestibulum sed, viverra est. Vestibulum
		pretium, leo et tincidunt ultrices, neque diam posuere amet vulputate enim quam eu magna. Vestibulum ante
		ipsum primis faucibus orci luctus et ultrices posuere cubilia curae. Vivamus iaculis ipsum sed felis
		mollis ut commodo justo vehicula. Aenean quis elit sit amet tellus dapibus sagittis. Vivamus non suscipit
		mauris. Aliquam vitae dictum ante. Integer fermentum ante eget nulla dapibus iaculis quis eu nisl. Aenean
		rhoncus posuere nulla at mollis.
	</p>

</div><!--/ .eight .columns-->
