<div class="border-divider"></div>

<div class="quoteBox">

  <div class="quote-text">

    Lorem ipsum dolor sit amet, consectetur aipisc ing elit. Nulla iaculis aliquet augue,
    varius purus sollicitudin eget. Donec tellus sollicitudin eu congue tempor dapibus et
    metus. Fusce ac ipsum at magna accumsan scelerisque sedon dolor.

  </div><!--/ .quote-text-->

  <span class="quote-author"><span>Sandra Brown</span>Manager</span>

</div><!--/ .quoteBox-->
