<%= content_for(:page_header) do %>
  Perguntas e Respostas
<% end %>

<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

<section id="content" class="ten columns">


	<!-- - - - - - - - - - - Toggle - - - - - - - - - - - -->

	<div class="box-toggle">

		<span class="trigger">Aenean varius aliquam ante</span>

		<div class="toggle-container">

			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
				labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
				laboris nisi ut aliquip ex ea commodo consequat.
			</p>

		</div><!--/ .toggle-container-->

	</div><!--/ .box-toggle-->

	<div class="box-toggle">

		<span class="trigger">Suspendisse aliquet gravida sagittis</span>

		<div class="toggle-container">

			<div class="bordered alignleft">
				<figure class="add-border">
					<a href="#"><img src="images/temp/recent-img-1.jpg" alt="" /></a>
				</figure>
			</div><!--/ .bordered-->

			<h5>Pellentesque condimentum</h5>

			<p>
				Etiam malesuada velit bibendum luctus. Donec sit amet orci augue, sed tristique eros.
				Nam ut dui sit amet risus mollis malesuada quis quis nulla. Vestibulum ante ipsum primis in.
			</p>

		</div><!--/ .toggle-container-->

	</div><!--/ .box-toggle-->

	<div class="box-toggle">

		<span class="trigger">Praesent a est nisl integer ultricies</span>

		<div class="toggle-container">

			<p>
				Donec nunc ipsum, loboris non convallis laoret amet hendrerit rutrum iaculis. Aliquam
				vitae odio elit. Nullam sed nisi ac arcu condimentum var ius. Etiam malesuada velit bibendum luctus.
			</p>

			<ul class="list type-1">
				<li>Nullam a ligula justo, quis varius ante</li>
				<li>Curabitur molestie, elit mattis tempus pharetra</li>
				<li>Mauris nisl tristique sem, nec lobortis ligula nulla</li>
				<li>Aliquam nec purus sit amet turpis</li>
			</ul>

		</div><!--/ .toggle-container-->

	</div><!--/ .box-toggle-->

	<div class="box-toggle">

		<span class="trigger">Proin magna tellus</span>

		<div class="toggle-container">

			<p>
				Donec nunc ipsum, loboris non convallis laoret amet hendrerit rutrum iaculis. Aliquam
				vitae odio elit. Nullam sed nisi ac arcu condimentum var ius. Etiam malesuada velit bibendum luctus.
			</p>

			<ul class="ordered type-1">
				<li>Lorem ipsum dolor sit amet</li>
				<li>Cconsectetur adipisicing elit eiusmod</li>
				<li>Tempor incididunt ut labore</li>
				<li>Curabitur molestie, elit mattisa</li>
				<li>Mauris nisl tristique sem, lobortis</li>
			</ul>

		</div><!--/ .toggle-container-->

	</div><!--/ .box-toggle-->

	<div class="box-toggle">

		<span class="trigger">Nullam hendrerit blandit tincidunt</span>

		<div class="toggle-container">

			<p>
				Donec nunc ipsum, loboris non convallis laoret amet hendrerit rutrum iaculis. Aliquam
				vitae odio elit. Nullam sed nisi ac arcu condimentum var ius. Etiam malesuada velit bibendum luctus.
			</p>

			<ul class="ordered type-2">
				<li>Lorem ipsum dolor sit amet</li>
				<li>Cconsectetur adipisicing elit eiusmod</li>
				<li>Tempor incididunt ut labore</li>
				<li>Curabitur molestie, elit mattisa</li>
				<li>Mauris nisl tristique sem, lobortis</li>
			</ul>

		</div><!--/ .toggle-container-->

	</div><!--/ .box-toggle-->

	<div class="box-toggle">

		<span class="trigger">Fusce ultrices commodo dolor</span>

		<div class="toggle-container">

			<p>
				Donec nunc ipsum, loboris non convallis laoret amet hendrerit rutrum iaculis. Aliquam
				vitae odio elit. Nullam sed nisi ac arcu condimentum var ius. Etiam malesuada velit bibendum luctus.
			</p>

			<ul class="list type-3">
				<li>Nullam a ligula justo, quis varius ante</li>
				<li>Curabitur molestie, elit mattis tempus pharetra</li>
				<li>Mauris nisl tristique sem, nec lobortis ligula nulla</li>
				<li>Aliquam nec purus sit amet turpis</li>
			</ul>

		</div><!--/ .toggle-container-->

	</div><!--/ .box-toggle-->

	<div class="box-toggle">

		<span class="trigger">Vivamus ultrices, urna vel vestibulum</span>

		<div class="toggle-container">

			<p>
				Donec nunc ipsum, loboris non convallis laoret amet hendrerit rutrum iaculis. Aliquam
				vitae odio elit. Nullam sed nisi ac arcu condimentum var ius. Etiam malesuada velit bibendum luctus.
			</p>

			<ul class="list type-7">
				<li>Nullam a ligula justo, quis varius ante</li>
				<li>Curabitur molestie, elit mattis tempus pharetra</li>
				<li>Mauris nisl tristique sem, nec lobortis ligula nulla</li>
				<li>Aliquam nec purus sit amet turpis</li>
			</ul>

		</div><!--/ .toggle-container-->

	</div><!--/ .box-toggle-->

	<div class="box-toggle">

		<span class="trigger">Ut viverra dolor quis augue</span>

		<div class="toggle-container">

			<p>
				Donec nunc ipsum, loboris non convallis laoret amet hendrerit rutrum iaculis. Aliquam
				vitae odio elit. Nullam sed nisi ac arcu condimentum var ius. Etiam malesuada velit bibendum luctus.
			</p>

			<ul class="list type-8">
				<li>Nullam a ligula justo, quis varius ante</li>
				<li>Curabitur molestie, elit mattis tempus pharetra</li>
				<li>Mauris nisl tristique sem, nec lobortis ligula nulla</li>
				<li>Aliquam nec purus sit amet turpis</li>
			</ul>

		</div><!--/ .toggle-container-->

	</div><!--/ .box-toggle-->

	<!-- - - - - - - - - - end Toggle - - - - - - - - - - -->


</section><!--/ #content-->
		
<!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - Sidebar - - - - - - - - - - - - - - - - - -->

<aside id="sidebar" class="one-third column">

	<div class="widget widget_search">

		<form action="/" method="post" id="searchform">

			<fieldset>

				<input type="text" />

				<button type="submit" title="Search">Search</button>

			</fieldset>

		</form><!--/ #searchform-->

	</div><!--/ .widget-->

	<div class="widget widget_text">

		<h3 class="widget-title">Quem responde?</h3>

		<div class="textwidget">

			<p>
				 Lorem ipsum dolor sit amet, consectetur adipisc ing elit. Nulla iaculis aliquet augue,
				 eu varius purus sollicitudin eget. Donec tellus nunc, sollicitudin eu congue tempor,
				 dapibus et metus. Fusce ac ipsum at magna accumsan scelerisque sed non dolor. Mauris
				 consectetur laoreet feugiat.
			</p>

		</div><!--/ .textwidget-->

	</div><!--/ .widget-->

</aside><!--/ #sidebar-->

<!-- - - - - - - - - - - - - end Sidebar - - - - - - - - - - - - - - - -->
