<!-- - - - - - - - - - Breadcrumbs - - - - - - - - - - - - -->

<div class="breadcrumbs">

  <%= link_to 'Home', root_path %>
  <span><%= current_navigation_path %></span>

</div><!--/ .breadcrumbs-->

<!-- - - - - - - - - end Breadcrumbs - - - - - - - - - - - -->
