<footer id="footer">

	<div class="container clearfix">

		<div class="one-third column">

			<div class="widget widget_text">

				<h3 class="widget-title">Sobre a Assembleia de Deus - Madureira - Arapiraca</h3>

				<div class="textwidget">

					<p>
						Mollis malesuada primis in faucibus luctus ultrces posuere cubilia nis velit porttitor euismod
						pharetra interetiam laoreet gitis placerat magna sit amet massa posuere pretium.
					</p>

				</div><!--/ .textwidget-->

			</div><!--/ .widget-->

			<div class="widget widget_contacts">

				<div class="vcard">
					<span class="contact street-address">Endereço completo</span>
					<span class="contact tel">Telefone:  +0 000 000 0000</span>
					<span class="contact email">E-mail: mail@mail.com</span>
				</div><!--/ .vcard-->

			</div><!--/ .widget-->

		   <div class="widget widget_social">

				<ul class="social-icons clearfix">
					<li class="facebook"><a href="https://www.facebook.com/ADmadureiraarapiraca/?fref=ts">Facebook<span></span></a></li>
				</ul><!--/ .social-icons-->

		   </div><!--/ .widget-->

		</div><!--/ .four-->

		<div class="one-third column">

			<div class="widget widget_recent_entries">

				<h3 class="widget-title">Novos posts</h3>

				<ul>
					<li>
						<div class="bordered alignleft">
							<figure class="add-border">
								<a class="single-image" href="#">
									<%= image_tag(image_url('temp/recent-img-4.jpg')) %>
								</a>
							</figure>
						</div><!--/ .bordered-->
						<h6><a href="#">Conseq uuntur magn</a></h6>
						<div class="entry-meta">15, Set,  <a href="#">2 Comentários</a></div>
					</li>
					<li>
						<div class="bordered alignleft">
							<figure class="add-border">
								<a class="single-image" href="#">
									<%= image_tag(image_url('temp/recent-img-5.jpg')) %>
								</a>
							</figure>
						</div><!--/ .bordered-->
						<h6><a href="#">Conseq eget metus</a></h6>
						<div class="entry-meta">15, Set, <a href="#">2 Comentários</a></div>
					</li>
					<li>
						<div class="bordered alignleft">
							<figure class="add-border">
								<a class="single-image" href="#">
									<%= image_tag(image_url('temp/recent-img-6.jpg')) %>
								</a>
							</figure>
						</div><!--/ .bordered-->
						<h6><a href="#">Nulla vitae elit libero</a></h6>
						<div class="entry-meta">15, Set, <a href="#">2 Comentários</a></div>
					</li>
				</ul>

			</div><!--/ .widget-->

		</div><!--/ .four-->

		<div class="one-third column">

			<div class="widget widget_contact_form">

				<h3 class="widget-title">Entre em contato</h3>

				<form action="/" method="post">

					<p class="input-block">
						<label>Nome:</label>
						<input type="text" />
					</p>
					<p class="input-block">
						<label>E-mail:</label>
						<input type="text" />
					</p>
					<p class="input-block">
						<label>Mensagem:</label>
						<textarea></textarea>
					</p>

					<p><button class="button default" type="submit">Submit</button></p>

				</form>

			</div><!--/ .widget-->

		</div><!--/ .four-->

	</div><!--/ .container-->

</footer><!--/ #footer-->

<!-- - - - - - - - - - - - - - end Footer - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - Bottom Footer - - - - - - - - - - - - - - -->

<footer id="bottom-footer" class="clearfix">

	<div class="container">

		<div class="copyright">Copyright © 2016  ·  Hugo Hernani</div>

	</div><!--/ .container-->

</footer><!--/ #bottom-footer-->
