<%= render 'layouts/main_slider' %>

<!-- - - - - - - - - - - - - - Main - - - - - - - - - - - - - - - - -->

<section class="container">
  <%= yield %>
</section><!--/ .main -->

<!-- - - - - - - - - - - - - end Main - - - - - - - - - - - - - - - - -->
